/* text CSS */
h1, h2, h3, h4, h5, h6{
    color: #4aaaa5;
}

a, p, #text{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* Header elements*/
.col-md-12 .header{
    padding-left: 0;
    padding-right: 0;
}
.name{
    background-color: #4aaaa5;
}

.name h1{
    color: #ffffff;
    padding: 10px;
}

.header-nav{
    padding: 0;
    justify-self: flex-end;
    align-self: center;
}

/* wrapper style*/
.wrapper{
    width: 70%;
    background-color: white;
    padding: 20px;
    border: 1px #cccccc solid;
}

.wrapper > .row{
    margin-left: 10px;
    margin-right: 10px;
}

/* about me page style*/
.content{
    background: url(../images/cork-wallet.png) repeat;
    border-bottom: 4px #4aaaa5 solid;
    border-top: 2px #cccccc solid;
}

.content > .container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.title{
    padding-bottom: 10px;
    border-bottom: 2px #cccccc solid;
    padding-right: 0;
    padding-left: 0;
}

.about{
    padding:0;
}

.description{
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}

.description-text{
    padding-left: 20px;
}

/*Contact Page Styles*/
.contact-form{
    margin-top: 20px;
    width: 100%;
}

.contact-form p{
    margin-bottom: 0;
}

.form-control{
    width: 100%;
}

.submit{
    background-color: #4aaaa5;
    color: white;
    padding: 5px 20px;
    border: none;
}

/*Portfolio page styles*/
.gallery-image h4{
    position: absolute;
    z-index: 2;
    bottom: 15px;
    width: 280px;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.col-md-6 img{
    margin-top: 20px;
    width: 280px;
    height: 200px;
}

/* footer style*/
.footer{
    background-color: #777777;
    height: 50px;
}

.footer > .container{
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer p{
    color: #cccccc;
    text-align: center;
    align-self: flex-end;
    font-size: 8px;
}
